/* Global color applied to human message bubble and header */
:root {
	--primary-color: #800000;
	--primary-color-light: hsl(0, 100%, 24%);
	--secondary-color: #DAA520;
	--off-white-color: #f0f0f0;
}

.vfrc-header {
  background-color: var(--primary-color); /* Header background color */
  color: white; /* Header text color */
}

.vfrc-user-response .vfrc-message {
  background-color: var(--primary-color); /* Human message bubble color */
  color: white; /* Human message text color */
}

/* Message bubbles with 3 curved edges and 1 slightly curved edge */
.vfrc-user-response .vfrc-message
{
border-bottom-right-radius: 0px;
  padding: 10px; /* Optional: Adjust padding for better appearance */
}

.vfrc-system-response .vfrc-message {
  background-color: #f0f0f0; /* Default background for assistant messages */
  color: #333; /* Default text color for assistant messages */
}

.vfrc-system-response .vfrc-message
{
  border-bottom-left-radius: 0px;
    padding: 10px; /* Optional: Adjust padding for better appearance */
  }

/* Target the launcher bubble */
.vfrc-launcher {
  border-radius: 4; /* Remove rounded corners */
  background-color: var(--primary-color); /* Set background color (optional) */
  color: white; /* Set icon or text color */
  display: flex; /* Center align the icon/text */
  justify-content: center;
  align-items: center;
}